.inputFatherContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  .inputContainer {
    display: flex;
    gap: 30px;
  }
  .input {
    width: 400px;
  }
}
.changeUrlTabsContainer {
  margin-top: 15px !important;
  .tabPaneContainer {
    // margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    img {
      object-fit: contain;
    }
  }
}

.PaginationContainer {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
}

.imageSelect {
  border: 1px solid rgb(232, 232, 232);
  margin: 8px 0;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
}
