.pictureContainer {
  width: 98%;
  height: 100%;
  padding: 20px;
  .mainContent {
    .TabNavContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 200px;
      img {
        height: 40px;
        max-width: 60px;
        overflow: hidden;
        object-fit: cover;
      }
    }
    .rightContainer {
      margin-left: 5vw;
      .upToolBar {
        height: 10vh;
        .inputContainer {
          height: 8vh;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 2.2vw;
          .input {
            width: 18vw;
          }
        }
      }
      img {
        margin-top: 3vh;
        height: calc(77vh - 60px - 20px);
        max-width: calc(100vw - 220px - 20px - 200px - 6vw - 6vw);
        overflow: hidden;
        object-fit: contain;
      }
    }
  }
}

.PaginationContainer {
  width: 96%;
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.semi-modal-content {
  img {
    width: 100%;
  }
  .semi-card {
    margin-top: 20px;
    span {
      font-size: 18px;
    }
  }
}
