@import "../../scss/common.scss";

.pictureContainer {
  width: 98%;
  height: 100%;
  padding: 20px;
  .mainContent {
    .TabNavContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 200px;
      img {
        height: 40px;
        width: 60px;
        overflow: hidden;
        object-fit: cover;
      }
    }
    .rightContainer {
      margin-left: 2vw;
      .upToolBar {
        height: 10vh;
        .inputContainer {
          height: 8vh;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 2.2vw;
          .input {
            width: 14vw;
          }
        }
      }
      .previewImageContainer {
        min-width: 50vw;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-top: 3vh;
          height: calc(77vh - 60px - 20px);
          max-width: calc(100vw - 220px - 20px - 200px - 6vw - 10vw);
          overflow: hidden;
          object-fit: contain;
        }
      }
    }
  }
}

.PaginationContainer {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  height: 32px;
}

.semi-modal-content {
  img {
    width: 100%;
  }
  .semi-card {
    margin-top: 20px;
    span {
      font-size: 18px;
    }
  }
}

.deletePreviewPicture {
  max-height: 400px;
  object-fit: contain;
}

.changeUrlImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    object-fit: contain;
    height: calc(36px * 4 + 15px * 3);
  }
}

.paginationContainer {
  width: 100%;
}

.changeUrlTabsContent {
  .semi-tabs-bar-button {
    height: 200px;
    overflow: visible;
    overflow-y: scroll;
    width: 200px;
  }
  .tabPaneContainer {
    margin-left: 10px;
  }
}

.deletePreviewPicture,
.changePreviewPicture {
  @include modal-picture-preview;
}
