
.addCarouselForm {
  padding: 10;
  width: 100%;
}

.uploadButton {
  margin-top: 20px;
}

.selectContainer {
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabPaneContainer {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  button {
    margin-top: 10px;
  }
  .addCarouselImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      object-fit: contain;
      height: calc(36px * 4 + 15px * 3);
    }
  }
}

.selectButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  .selectButton {
    all: unset;
    cursor: pointer;
    background-color: #f4f5f5;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
  }
}

.paginationContainer {
  display: flex;
  margin-top: 10px;
}
.chosenPictureShow {
  margin-top: 10px;
}

.chosenPictureShowContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .chosenPictureShow {
    img {
      height: 300px;
      object-fit: contain;
    }
  }
}




.addCarouselTabContent {
  .semi-tabs-bar-button {
    height: 200px;
    overflow: visible;
    overflow-y: scroll;
    width: 200px;
  }
  .tabPaneContainer {
    margin-left: 10px;
  }
}
