.timetableContainer {
  padding: 4px;
  .calendarContent {
    height: calc(100vh - 60px - 4px - 32px - 28px - 5vh - 2vh) !important;
    .CalendarItem {
      border-radius: 3px;
      box-sizing: border-box;
      border: var(--semi-color-bg-1) 1px solid;
      padding: 2px 4px;
      background-color: var(--semi-color-primary-light-active);
      height: 100%;
      overflow: hidden;
    }
  }
}
