.main {
  height: 100%;
  padding: 20px;
  background-color: white;
  .activityHeader {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.moreOperate {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .titleSpan {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .activityHeader {
    gap: calc((100vw - 40px - 4 * 80px) / 4) !important;
  }
}
