.main {
  height: 100%;
  padding: 20px;
  background-color: white;
  .activityHeader {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}

.moreOperate {
  display: flex;
  justify-content: center;
}
